@page "{OrderId}"
@model StoreApp.Web.Pages.CompletedModel
@{
}

<div class="text-center">
    Sipariş No:  @ViewData["SiparisNo"]
    Tebrikler, Siparişiniz Alındı
</div>

<a href="/">Ana Sayfaya Geri Dön</a>