
@model IEnumerable<CategoryViewModel>

<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">
        Ana Sayfa
    </a>

    @foreach(var item in Model)
    {
        <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">
            @item.Name
        </a>
    }
</div>