@model ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}

@foreach(var item in Model.Products)
{
    <div class="text-center">
        <h4 class="display-4">@item.Name</h4>
        <p>@item.Description</p>
        <p>@item.Price</p>
    </div>
}   


